@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import 'variables';
@import 'typography';

//basic settings for imgclasses

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}



img{
	max-width:100%;
	height:auto;
}

.size-post-featured-image{
	size:100%;
	float: right;
	margin: 5px 0px 15px 15px;
}

article{
	header{
		margin-bottom:1em;
		.the-title{
			line-height:125%;
		}
	}
	main.the-content{
	line-height: 150%;
	text-align:justify;
	}
}

.sidebar{
	.widget{
		&:first-child {
			margin-top: 0px;
		}
		&:last-child{
			border-bottom: none;
		}

		h2{
			font-size: 1.6em;
			color:$dark-blue;
		}
		
		border-bottom: 1px dotted $black;
		margin: 2em 0;
		padding-bottom: 2em;
	}
}


footer.site-footer{
	min-height:80px;
	margin: 2em 0em 0em 0em;
	padding:1em 0em 1em 0em;
	background-color: $site-footer-background-color;
	color:white;
	font-weight:100;
	font-size:0.7em;
	vertical-align: middle;
}


.navbar{
		margin-bottom:1.5em;
}

.navbar{
	border-top:solid 0.5em $dark-blue;
}

.post-meta{
	font-size:.8em;
}

.col-md-12 .nav{
		background-color: $dark-blue;

}

