@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'variables';
@import 'typography';


img{
	max-width:100%;
	height:auto;
}

.featured-image{
	background-size:cover;
	background-position: center center;
	min-height:450px;
}

article{
	header{
		margin-bottom:1em;
		.the-title{
			line-height:125%;
		}
	}
	main.the-content{
	line-height: 150%;
	text-align:justify;
	}
}

.sidebar{
	.widget{
		&:first-child {
			margin-top: 0px;
		}
		&:last-child{
			border-bottom: none;
		}

		h2{
			font-size: 1,5em;
		}
		
		border-bottom: 1px dotted $black;
		margin: 2em 0;
		padding-bottom: 2em;
	}
}


.site-footer{
	margin-top: 2em;
	padding:1em 0;
	background-color: $site-footer-background-color;
	color:white;
	font-weight:light;
}


a .navlink{
		color:white;
}



.the-meta{
	font-size:1em;
}

.col-md-12 .nav{
		background-color: $dark-blue;

}