$blue: #206490;
$dark-blue: #0A395C;
$beige: #E1E2DD;
$dark-red: #B70712;
$black:#000;


$text-color: $black;
$site-footer-background-color: $dark-blue;
$site-header-background-color: $beige;


//basic settings for imgclasses

img.alignright {
	float:right; margin:0 0 1em 1em
}
img.alignleft {
	float:left; margin:0 1em 1em 0
}
img.aligncenter {
	display: block; margin-left: auto; margin-right: auto
}
a img.alignright {
	float:right; margin:0 0 1em 1em
}
a img.alignleft {
	float:left; margin:0 1em 1em 0
}
a img.aligncenter {
	display: block; margin-left: auto; margin-right: auto
}