@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
body {
  font-family: 'Lato', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.featured-image {
  background-size: cover;
  background-position: center center;
  min-height: 450px; }

article header {
  margin-bottom: 1em; }
  article header .the-title {
    line-height: 125%; }

article main.the-content {
  line-height: 150%;
  text-align: justify; }

.sidebar .widget {
  border-bottom: 1px dotted #000;
  margin: 2em 0;
  padding-bottom: 2em; }
  .sidebar .widget:first-child {
    margin-top: 0px; }
  .sidebar .widget:last-child {
    border-bottom: none; }
  .sidebar .widget h2 {
    font-size: 1,5em; }

.site-footer {
  margin-top: 2em;
  padding: 1em 0;
  background-color: #0A395C;
  color: white;
  font-weight: light; }

.site-header {
  background-color: #E1E2DD; }

.custom-logo {
  position: left; }

.navbar-toggle div {
  padding-left: 0; }
