@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

body {
  font-family: 'Lato', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

img {
  max-width: 100%;
  height: auto; }

.size-post-featured-image {
  size: 100%;
  float: right;
  margin: 5px 0px 15px 15px; }

article header {
  margin-bottom: 1em; }
  article header .the-title {
    line-height: 125%; }

article main.the-content {
  line-height: 150%; }

.sidebar .widget {
  border-bottom: 1px dotted #000;
  margin: 2em 0;
  padding-bottom: 2em; }
  .sidebar .widget:first-child {
    margin-top: 0px; }
  .sidebar .widget:last-child {
    border-bottom: none; }
  .sidebar .widget h2 {
    font-size: 1.6em;
    color: #0A395C; }

footer.site-footer {
  min-height: 80px;
  margin: 2em 0em 0em 0em;
  padding: 1em 0em 1em 0em;
  background-color: #0A395C;
  color: white;
  font-weight: 100;
  font-size: 0.7em;
  vertical-align: middle; }

.navbar {
  margin-bottom: 1.5em; }

.navbar {
  border-top: solid 0.5em #0A395C; }

.post-meta {
  font-size: .8em; }

.col-md-12 .nav {
  background-color: #0A395C; }

@media (max-width: 768px) {
  .sidebar .widget:first-child {
    border-top: 1px dotted #000;
    margin-top: 1em;
    padding-top: 1.5em; } }

@media (max-width: 600px) {
  img {
    max-width: 35%; }
  .type-page {
    min-width: 100%; } }
